#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 500px;
  height: 280px;
  text-align: center;
  line-height: 140px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #666;
  margin: 20px auto;
}
#drop-area.dragging {
  background-color: #f7f7f7;
}
#file-input {
  display: none;
}
#upload-btn {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.signal {cursor: pointer;}
.close {cursor: pointer;}

line {
  stroke: #898989;
}

.signal text {
  fill: #010101;
}
.signal text:hover {
  fill: #454545;
}
.note rect, .note path {
  fill: #ffff00;
}
/* .title rect, .title path,
.actor rect, .actor path {
  fill: #f5f5c5
} */

.kcid1 line{stroke: orange}
.kcid1 text{fill:orange!important;}

.kcid2 line{stroke: blueviolet;}
.kcid2 text{fill:blueviolet!important;}

.kcid3 line{stroke: red;}
.kcid3 text{fill:red!important;}

.kcid4 line{stroke: green;}
.kcid4 text{fill:darkgreen!important;}

.kcid5 line{stroke: brown;}
.kcid5 text{fill:brown!important;}


/* CSS for showing popup modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 10px;
}

  /* Modal content */
.modal-content {
  background-color: #fafafa;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.k-layers {
  color:orange;
  cursor: pointer;}
.k-headers {color:#567891;}
.k-sip {color:#bb6611;}
